@model CreatePersonViewModel

@{
    ViewData["Title"] = "People";
}


@if (ViewBag.headline != null)
{
    <h2>@ViewBag.headline</h2>
}

@if (ViewBag.text != null)
{
    <div>
        @ViewBag.text


    </div>
}

<div id="search">
    <form>
        search for stuff

    </form>
    blabla search bla
</div>

<div id="addPerson">
    <form asp-controller="People" asp-action="People" method="post">
        <label asp-for="Name"></label><br />
        <input asp-for="Name" /><br />
        <label asp-for="Phone"></label><br />
        <input asp-for="Phone" /><br />
        <label asp-for="City"></label><br />
        <input asp-for="City" /><br />
        <input type="submit" value="Create person"/><br/>
    </form>
</div>

<div id="listOfPeople">

    <table>
        <tr>
            <th> Name</th>
            <th> City</th>
            <th> Phone</th>
            <th> Delete?</th>
            <!--//klickbar. Ta bort allt. KOm ihåg de. om det hinnst -->
    </tr>

    @if(Model.Persons != null)
    {
        @foreach(var item in Model.Persons)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>@item.Phone</td>
                <td>

                </td>
               

        </tr>
            }
        }
    <!---@foreach   - -->



    </table>
    liist
</div>