@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}


@if (ViewBag.headline != null)
{
    <h2>@ViewBag.headline</h2>
}

@if (ViewBag.text != null)
{
    <div>
        @ViewBag.text

    </div>

}

@if (Model != null)
{
<div class="card" style="width: 18rem;">
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Statistics</li>
        <li class="list-group-item ">People:    @Model.People.ToString()</li>
        <li class="list-group-item ">Cities:    @Model.Cities.ToString()</li>
        <li class="list-group-item ">Countries: @Model.Countries.ToString()</li>
        <li class="list-group-item ">Languages: @Model.Languages.ToString()</li>
        @if (User.IsInRole("Admin"))
        {
            <li class="list-group-item ">Users: @Model.Users.ToString()</li>

        }
    </ul>


</div>
}
