@model City


    <tr>
        <td>@Model.Name</td>
        <td>@Model.CurrentCountry.Name</td>
        <td>@Model.Citizens.Count()</td>
        <td>
            <form asp-controller="IDCities" asp-action="Details" method="post" role="form">
                <div>
                    <input asp-for="Id" value="@Model.Id" hidden />
                    <input type="submit" class="btn btn-primary" name="btnCityDetails" value="Details" />
                </div>
            </form>
        
        </td>

        <td>
            @if (Model.Citizens.Count() == 0)
            {
                <form asp-controller="IDCities" asp-action="Delete" method="post" role="form">
                    <div>
                        <input asp-for="Id" value="@Model.Id" hidden />
                        <input type="submit" class="btn btn-primary" name="btnCityDelete" value="Delete" />
                    </div>
                </form>
            }
        </td>
    </tr>
