<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]MCV Data 123</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVCData123</a>
                </li>

                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "People" ? "active" : "")" asp-area="" asp-controller="People" asp-action="People">People</a>
                </li>

                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Ajax" ? "active" : "")" asp-area="" asp-controller="Ajax" asp-action="Ajax">Ajax</a>
                </li>

                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "EntityFramework" ? "active" : "")" asp-area="" asp-controller="EntityFramework" asp-action="Index">EntityFramework</a>
                </li>

            </ul>
        </nav>

    </header>

    <main>

        <div>
            @RenderBody()
        </div>
    </main>

    <footer>
        @DateTime.Now.ToString("yyyy-MM-dd") © Magnus Borglund
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/efview.js"></script>
    <script src="~/js/ajaxview.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>