@model PersonModel

<tr>
    <td>@Model.Name</td>
    <td>@Model.CurrentCity.Name</td>
    <td>@Model.PersonLanguages.Count()</td>
        
    <td>
        <form asp-controller="IDPeople" asp-action="Details" method="post" role="form">
            <div>
                <input asp-for="Id" value="@Model.Id" hidden />
                <input type="submit" class="btn btn-primary" name="btnPersonsDetails" value="Details" />
            </div>
        </form>
    </td>

    <td>
        @if (User.IsInRole("Admin"))
        {
            <form asp-controller="IDPeople" asp-action="Delete" method="post" role="form">
                <div>
                    <input asp-for="Id" value="@Model.Id" hidden />
                    <input type="submit" class="btn btn-primary" name="btnCityDelete" value="Delete" />
                </div>
            </form>
        }
    </td>
</tr>
