@model ApplicationUser


<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.UserName</td>
    <td>@Model.Email</td>
        
    <td>
        <form asp-controller="IDUsers" asp-action="AdminAdd" method="post" role="form">
            <div>
                <input asp-for="Id" value="@Model.Id" hidden />
                <input type="submit" class="btn btn-primary" name="btnPersonsDetails" value="Yes" />
            </div>
        </form>
    </td>
</tr>

