@model ApplicationUser

<div class="container">
    <dv class="row">
        <div class="col-sm-2">@Model.FirstName</div>
        <div class="col-sm-2">@Model.LastName</div>
        <div class="col-sm-2">@Model.UserName</div>
        <div class="col-sm-2">@Model.Email</div>
        
        <div class="col-sm-2">
            <form asp-controller="IDUsers" asp-action="AdminAdd" method="post" role="form">
                <div>
                    <input asp-for="Id" value="@Model.Id" hidden /><br />
                    <input type="submit" class="btn btn-primary" name="btnPersonsDetails" value="Yes" />
                </div>
            </form>
        </div>
    </div>
</div>
